body {
  background-color: #a55233;
}
h1 {
  color: white;
  font-size: 50px;
  position: absolute;
  text-align: center;
  top: 80px;
  width: 100%;
  margin: 0 auto;
  max-width: 1000px;
}
img {
  border-radius: 10px;
  margin-top: 20px;
}
.container {
  max-width: 960px;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-footer {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 3px;
  color: #402a23;
  font-size: 15px;
  justify-content: center;
  padding: 10px;
  text-align: center;
}

.GitHub a {
  color: #402a23;
  padding: 3px;
  transition: all 150ms ease-in-out;
}
.GitHub a:hover {
  border-radius: 5px;
  background: #a55233;
  color: #f3bc77;
  text-decoration: none;
}
