form {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  color: #402a23;
  font-size: 20px;
  text-align: center;
  margin: 15px 0;
  padding: 25px;
}
input {
  border: white solid 1px;
  border-radius: 2px;
  padding-left: 5px;
  width: 100%;
  margin: 5px 0;
}
h2,
h3 {
  text-transform: capitalize;
}
h5 {
  color: #fff;
  text-align: left;
}
p {
  font-size: 20px;
  opacity: 0.7;
}

.dictionary-container {
  color: white;
  margin: 0 auto;
  padding: 0 20px;
  width: 0 auto;
}

.Dictionary {
  font-weight: 600;
  color: white;
}
.example {
  font-size: 25px;
}
.suggest {
  color: #fff;
  font-size: 15px;
  margin-top: 5px;
  text-align: left;
}
section.images {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
}
.abc {
  width: 33%;
}
.abc img {
  margin: 10px auto;
}
