form {
  text-align: center;
  font-size: 30px;
}

h2,
h3 {
  text-transform: capitalize;
}
p {
  font-size: 20px;
  opacity: 0.7;
}
.dictionary-container {
  background-color: #a55233;
  color: white;
  margin: 0 auto;
  padding: 0 30px;
  width: 0 auto;
}
.Dictionary {
  font-weight: 600;
  color: white;
}
.example {
  font-size: 25px;
}
