.Phonetic a {
  background-color: #f3bc77;
  border-radius: 20px;
  color: #a55233;
  margin-right: 10px;
  padding: 10px 20px;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}
.Phonetic a:hover {
  border: 1px solid #f3bc77;
  color: #fff;
}
.Phonetic {
  padding: 10px 0;
}
